In [44]:
import pandas as pd
import numpy as np

train = pd.read_csv('train.csv')
train

,ID,target,v1,v2,v3,v4,v5,v6,v7,v8,...,v122,v123,v124,v125,v126,v127,v128,v129,v130,v131
0,3,1,1.335739,8.727474,C,3.921026,7.915266,2.599278,3.176895,0.012941,...,8.000000,1.989780,0.035754,AU,1.804126,3.113719,2.024285,0,0.636365,2.857144
1,4,1,NaN,NaN,C,NaN,9.191265,NaN,NaN,2.301630,...,NaN,NaN,0.598896,AF,NaN,NaN,1.957825,0,NaN,NaN
2,5,1,0.943877,5.310079,C,4.410969,5.326159,3.979592,3.928571,0.019645,...,9.333333,2.477596,0.013452,AE,1.773709,3.922193,1.120468,2,0.883118,1.176472
3,6,1,0.797415,8.304757,C,4.225930,11.627438,2.097700,1.987549,0.171947,...,7.018256,1.812795,0.002267,CJ,1.415230,2.954381,1.990847,1,1.677108,1.034483
4,8,1,NaN,NaN,C,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Z,NaN,NaN,NaN,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114316,228708,1,NaN,NaN,C,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,AL,NaN,NaN,NaN,0,NaN,NaN
114317,228710,1,NaN,NaN,C,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,E,NaN,NaN,NaN,1,NaN,NaN
114318,228711,1,NaN,NaN,C,NaN,10.069277,NaN,NaN,0.323324,...,NaN,NaN,0.156764,Q,NaN,NaN,2.417606,2,NaN,NaN
114319,228712,1,NaN,NaN,C,NaN,10.106144,NaN,NaN,0.309226,...,NaN,NaN,0.490658,BW,NaN,NaN,3.526650,0,NaN,NaN
114320,228713,1,1.619763,7.932978,C,4.640085,8.473141,2.351470,2.826766,3.479754,...,7.936508,2.944285,3.135205,V,1.943149,4.385553,1.604493,0,1.787610,1.386138

In [45]:
test = pd.read_csv('test.csv')
test.shape

(114393, 132)

In [46]:
df_cleaned = train[train.notna().all(axis=1)]
df_cleaned

,ID,target,v1,v2,v3,v4,v5,v6,v7,v8,...,v122,v123,v124,v125,v126,v127,v128,v129,v130,v131
21,39,1,1.289841e+00,4.788645,C,4.283417,10.719571,3.107570,1.962151,0.080812,...,5.968993,2.169826,0.004920,CD,1.460793,1.531375,1.964652,1,2.111675,1.346155e+00
63,124,0,2.495783e+00,9.306134,C,6.572474,10.292470,3.001686,2.664418,0.511063,...,8.705882,2.510637,0.757561,K,1.483949,4.584738,3.453224,0,1.645569,2.461539e+00
64,125,0,2.567534e+00,7.514002,C,3.363238,5.243808,2.032217,2.299877,1.621858,...,5.152980,4.721778,1.715600,K,1.943936,2.676581,0.632545,0,2.129310,2.267206e+00
68,132,1,1.312574e+00,9.353351,C,5.289176,10.368787,3.342530,2.782814,0.287117,...,7.182663,2.253375,0.432564,K,1.533032,2.601497,3.355834,0,0.815865,2.500000e+00
73,145,1,1.095601e+00,6.772009,C,5.431377,10.202250,1.844332,1.920473,7.403780,...,4.598540,2.942474,7.318691,AZ,1.139705,1.871827,3.147261,0,1.744493,1.414140e+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114286,228648,0,1.137063e+00,4.454929,C,3.810066,8.742417,2.347880,2.286418,0.945781,...,6.505376,3.173352,0.173402,AK,1.976482,3.134603,1.644758,0,1.774193,1.212122e+00
114290,228654,0,2.614841e+00,5.926864,C,3.484237,7.855552,1.696112,2.588340,0.990848,...,7.352942,7.697697,0.853022,AP,1.334003,3.229903,1.305495,0,2.648464,1.649484e+00
114297,228666,1,1.603274e+00,11.493653,C,4.328798,8.055434,1.848820,2.532499,0.171407,...,9.122806,2.250368,0.046708,AF,1.527338,3.231824,1.246700,0,1.581749,1.730770e+00
114299,228670,1,9.688237e-07,6.163454,C,3.502739,7.202643,1.741765,2.165847,2.424658,...,6.339869,6.239218,3.054839,V,1.291664,5.253692,1.026424,0,2.615385,5.482204e-07
114313,228702,1,1.364308e+00,9.621454,C,4.342517,8.648951,2.772861,3.480826,2.208724,...,8.170212,2.427557,0.566489,CI,2.091074,4.300331,1.738246,0,0.855932,1.980199e+00

In [47]:
import operator

#Display correlation for numeric columns and only take top 55 columns for feature extraction
numer = df_cleaned.select_dtypes(include=['number']).columns

corr_num = {}
for col in numer:
    corr = df_cleaned['target'].corr(df_cleaned[col])
    if not np.isnan(corr):
#     if corr >= 0.03:
        corr_num[col] = abs(corr)

sort_num = sorted(corr_num.items(), key=operator.itemgetter(1),reverse=True)[:55]
sort_num[:10]

[('target', 1.0),
 ('v50', 0.21403680898950808),
 ('v114', 0.13875755455529604),
 ('v34', 0.13286582630464994),
 ('v10', 0.12362414294640814),
 ('v40', 0.10437425994780314),
 ('v129', 0.06830776729061447),
 ('v14', 0.05679655644725652),
 ('v72', 0.050419571211969105),
 ('v58', 0.04905917908119903)]

In [48]:
y= train['target']

In [49]:
## Data preprocessing

In [50]:
missing_values = train.isnull().sum()
print(missing_values)

ID            0
target        0
v1        49832
v2        49796
v3         3457
v4        49796
v5        48624
v6        49832
v7        49832
v8        48619
v9        49851
v10          84
v11       49836
v12          86
v13       49832
v14           4
v15       49836
v16       49895
v17       49796
v18       49832
v19       49843
v20       49840
v21         611
v22         500
v23       50675
v24           0
v25       48619
v26       49832
v27       49832
v28       49832
v29       49832
v30       60110
v31        3457
v32       49832
v33       49832
v34         111
v35       49832
v36       48624
v37       49843
v38           0
v39       49836
v40         111
v41       49832
v42       49832
v43       49836
v44       49796
v45       49832
v46       48619
v47           0
v48       49796
v49       49832
v50          86
v51       50678
v52           3
v53       49836
v54       48619
v55       49832
v56        6882
v57       49832
v58       49836
v59       49796
v60       49832
v61       49796
v62           0
v63       48619
v64       49796
v65       49840
v66           0
v67       49832
v68       49836
v69       49895
v70       48636
v71           0
v72           0
v73       49836
v74           0
v75           0
v76       49796
v77       49832
v78       49895
v79           0
v80       49851
v81       48624
v82       48624
v83       49832
v84       49832
v85       50682
v86       49832
v87       48663
v88       49832
v89       48619
v90       49836
v91           3
v92       49843
v93       49832
v94       49832
v95       49843
v96       49832
v97       49843
v98       48654
v99       49832
v100      49836
v101      49796
v102      51316
v103      49832
v104      49832
v105      48658
v106      49796
v107          3
v108      48624
v109      48624
v110          0
v111      49832
v112        382
v113      55304
v114         30
v115      49895
v116      49836
v117      48624
v118      49843
v119      50680
v120      49836
v121      49840
v122      49851
v123      50678
v124      48619
v125         77
v126      49832
v127      49832
v128      48624
v129          0
v130      49843
v131      49895
dtype: int64

In [51]:
##Extraire les colonnes numériques qui influencent le plus le target (les 55 premières dans notre cas)
numer = train.select_dtypes(include=['number']).columns

corr_num = {}
for col in numer:
    corr = train['target'].corr(train[col])
    if not np.isnan(corr):
#     if corr >= 0.03:
        corr_num[col] = abs(corr)

sort_num = sorted(corr_num.items(), key=operator.itemgetter(1),reverse=True)[:55]
sort_num[:10]

[('target', 1.0),
 ('v50', 0.24168273407867408),
 ('v10', 0.1486802119605029),
 ('v129', 0.1421406679808464),
 ('v14', 0.13067048852500804),
 ('v34', 0.09588437423543396),
 ('v62', 0.09370881393134971),
 ('v114', 0.07578596035953507),
 ('v72', 0.07524105478902929),
 ('v21', 0.06763439568865534)]

In [52]:
##Extraire les colonnes catégorielles qui influencent le plus le target
cat = train.select_dtypes(exclude=['number']).columns

corr_num = {}
for col in cat:
    corr = train['target'].corr(train[col].astype('category').cat.codes)
    if not np.isnan(corr):
#     if corr >= 0.03:
        corr_num[col] = abs(corr)

sort_cat = sorted(corr_num.items(), key=operator.itemgetter(1),reverse=True)
sort_cat

[('v110', 0.1531436940377791),
 ('v47', 0.14827357791396847),
 ('v31', 0.14805372326268834),
 ('v113', 0.10368998919971269),
 ('v66', 0.0648880728701996),
 ('v79', 0.032034297825887785),
 ('v56', 0.02917712890659941),
 ('v74', 0.026531813442643333),
 ('v3', 0.02128907522867747),
 ('v30', 0.0200466429626806),
 ('v107', 0.018077215104376744),
 ('v24', 0.014172006420275648),
 ('v112', 0.010992367028058165),
 ('v91', 0.007167932763161838),
 ('v75', 0.004346174763126288),
 ('v71', 0.0023992614363273824),
 ('v125', 0.0022789691259128505),
 ('v52', 0.0020931901239192936),
 ('v22', 0.0011118047445813513)]

In [53]:
##mettre ces données ensemble pour apprendre nos modèles

use_col = []

for i in range(0,len(sort_num)):
    if sort_num[i][0] != 'target':
         use_col.append(sort_num[i][0])

for i in range(0,len(sort_cat)):
    use_col.append(sort_cat[i][0])

len(use_col)

73

In [54]:
train = train[use_col]
print(train.shape)
test = test[use_col]
print(test.shape)

(114321, 73)
(114393, 73)

In [55]:
cat_col = train.select_dtypes(exclude=['number']).columns.values
num_col = train.select_dtypes(include=['number']).columns.values

In [28]:
##Amputation par la moyenne et le mode

for col in num_col:
    mean = train[col].mean(skipna=True)
    train[col] = train[col].fillna(mean)
    test[col] = test[col].fillna(mean)
    
for col in cat_col:
    mode = train[col].mode(dropna=True)[0]
    train[col] = train[col].fillna('NA')
    test[col] = test[col].fillna('NA')

C:\Users\astri\AppData\Local\Temp\ipykernel_35256\3222885423.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test[col] = test[col].fillna(mean)
C:\Users\astri\AppData\Local\Temp\ipykernel_35256\3222885423.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test[col] = test[col].fillna('NA')

In [ ]:
##Modelisation

In [29]:
import catboost as cat

#2400 best score with validation set
params = {
    "loss_function": "Logloss",
    "eval_metric": "Logloss",
    "learning_rate": 0.03,
    "iterations": 2400,
    "l2_leaf_reg": 3,
    "random_seed": 432013,
    "subsample": 0.66,
    "od_type": "Iter",
    "rsm": 0.2,
    "depth": 6,
    "border_count": 128
}

In [30]:
model = cat.CatBoostClassifier(**params)
train_data = cat.Pool(train, label=y,cat_features=cat_col)
test_data = cat.Pool(test,cat_features=cat_col)

fit_model = model.fit(train_data, verbose=0)

In [41]:
pd.set_option('display.max_rows', 500)

pd.DataFrame({'feature_importance': model.get_feature_importance(train_data), 
              'feature_names': train.columns}).sort_values(by=['feature_importance'], 
                                                           ascending=False).head(10)

    feature_importance feature_names
0            16.108680           v50
58            8.037515           v66
60            7.009968           v56
72            5.612995           v22
7             4.031881           v72
59            3.283143           v79
57            2.924315          v113
65            2.455107           v24
1             2.140758           v10
71            2.076418           v52

In [42]:
y_pred = fit_model.predict_proba(test_data)

In [43]:
submission = pd.read_csv("sample_submission.csv")
submission['PredictedProb'] = y_pred[:,1]
submission.head()

   ID  PredictedProb
0   0       0.233527
1   1       0.921518
2   2       0.830516
3   7       0.673753
4  10       0.776365

In [34]:
submission.to_csv('submission.csv', index=False)